jobs:
  qa:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies (Yarn)
        run: yarn
      - name: Install Shellcheck
        run: sudo apt-get install -y shellcheck
      - name: Lint with Shellcheck
        run: yarn shellcheck
      - name: Check spelling
        run: yarn check-spelling
      - name: Install sh
        run: |
          curl -o shfmt "https://github.com/mvdan/sh/releases/download/v3.7.0/shfmt_v3.7.0_linux_amd64"
          chmod +x shfmt
          mv shfmt /usr/local/bin/
      - name: Check formatting
        run: yarn check-formatting
name: 'QA'
'on':
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
